.movie-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 280px;
    box-shadow: 0 3px 10px 0 #aaa;
    cursor: pointer;
  }
  
  .cover-image {
    object-fit: cover;
    height: 362px;
  }
  
  .movie-names {
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: black;
    margin: 15px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px 5px;
  }
  
  .info-columns {
    display: flex;
    justify-content: space-between;
    background-color: #4743431a;
    padding: 0px 5px;
  }
  
  .movie-info {
    font-size: 16px;
    font-weight: 500;
    color: black;
    white-space: normal;
    overflow: hidden;
    text-transform: capitalize;
    text-overflow: ellipsis;
  }
  